:root {
    --background: #1a1a20;
    --article-gradient-top: #31313f88;
    --article-gradient-bottom: #31313f3a;
    --shadow: #000005d0;
    --highlight: #313141ee;
    --text: #dde;
    --links: #72a8ff;

    --border-radius: 0.5em;

    --article-gradient: linear-gradient(var(--article-gradient-top), var(--article-gradient-bottom));
}

* {
    margin: 0;
    padding: 0;
}



/*////////////// CONTENTS //////////////*/

/*
LAYOUT
    general
    body header
    main
    navs
COLORS & SHAPES
TEXT
    general
    body header
    main
    navs
INTERACTIVITY
    theme checkbox
MEDIA QUERIES
    desktop
    mobile
*/



/*////////////// LAYOUT //////////////*/

/* general */

header,
nav ul,
.post-wrapper footer {
    display: flex;
        justify-content: space-between;
}

main nav,
body > footer,
.post-wrapper > div {
    padding: 0.8em 1em;
}

main nav details,
.post-wrapper header,
.post-wrapper footer {
    padding: 0.6em 1em;
}

img,
svg {
    max-width: 100%;
}

header {
    align-items: center;
}

details {
    padding: 0.2em 0.8em;
}


/* body header */

body > header nav {
    width: 100%;
}

body > header h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

body > header ul {
    align-items: center;
}

.share-links {
    display: flex;
        justify-content: space-around;
    margin: 0.5em 0;
}

.share-links div {
    width: 3em;
    height: 3em;
}

img.icon {
    height: 3.3em;
    width: 3.3em;
    object-fit: cover;
    border-radius: 100%;
}

.title * {
    display: inline;
    vertical-align: middle;
}

.title a {
    margin-right: 0.8em;
}


/* main */

main {
    margin: 2em 1em;
}

article {
    margin-bottom: 1.5em;
}

main > p {
    margin-bottom: 1.8em;
    text-align: center;
}

article header a {
    display: flex;
        justify-content: space-between;
        align-items: center;
    width: 100%;
    height: 100%;
}

article header svg {
    height: 1.5em;
    min-width: 1.5em;
    stroke-width: 2.5em;
    margin-left: 0.5em;
}

.post-wrapper > div > * {
    margin: 0.8em;
}

.post-wrapper footer time {
    padding: 0.2em 0;
}


/* navs */

nav h3 {
    text-align: center;
    margin-bottom: 1em;
}

.li-archive {
    position: relative;
    top: 0.1em;
}

.nav-pagination li > * {
    display: flex;
        flex-direction: column;
        align-items: center;
}

.nav-pagination svg {
    width: 1.5em;
    margin-bottom: 0.5em;
}

.li-archive svg {
    width: 2.5em;
}



/*////////////// COLORS & SHAPES //////////////*/

header,
.post-wrapper,
.toggle-switch,
details:not([open]) {
    background: var(--article-gradient);
}

header,
summary,
.nav-pagination,
.post-wrapper footer {
    text-shadow: -1px -1px 1px var(--shadow);
}

img,
details,
main nav,
.post-wrapper,
.toggle-switch {
    border-radius: var(--border-radius);
    border: 1px solid var(--highlight);
}

img,
details,
body > header,
.post-wrapper,
.toggle-switch {
    box-shadow: 0 0 0.3em var(--shadow);
}

details[open],
.post-wrapper > div,
main nav {
    box-shadow: inset 0 0 0.2em var(--shadow);
}

article header,
.post-wrapper:not(article) > div {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

body {
    background: var(--background);
    color: var(--text);
}

a {
    color: var(--links)
}

svg {
    fill: currentColor;
    stroke: currentColor;
    stroke-linejoin: round;
    stroke-linecap: round;
}

header {
    border-bottom: 1px solid var(--highlight);
}

footer {
    border-top: 1px solid var(--highlight);
}

body > footer {
    box-shadow: 0 -1px 1px var(--shadow);
}

main nav {
    background-color: var(--article-gradient-bottom);
}

.dim {
    opacity: 0.65;
}



/*////////////// TEXT //////////////*/

/* general */

nav details ol,
.post-wrapper ul,
.post-wrapper ol {
    padding-left: 1.8em;
}

header a,
.nav-pagination a
.post-wrapper footer a {
    text-decoration: none;
}

.dim,
.post-wrapper footer details {
    font-size: 0.9em;
}

body {
    font-family: Arial, Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

a {
    font-weight: bold;
    text-underline-offset: 0.25em;
}

.no-style {
    list-style-type: none;
}


/* body header */

body > header h2 {
    font-size: 1em;
}


/* main */

main li {
    margin: 0.5em 0;
}

article h1 {
    font-size: 1.1em;
    width: 100%;
}



/* navs */

nav details ol {
    list-style: disc;
}

nav details > *:nth-child(2) {
    display: inline-block;
    margin-top: 0.5em;
}



/*////////////// INTERACTIVITY //////////////*/

a:hover,
summary:hover,
:focus:not(:focus-visible),
.toggle-switch:hover svg {
    opacity: 0.65;
}

.title a:not(h1 a),
.share-links :focus-visible,
#checkbox-theme:focus-visible {
    background: inherit;
    color: inherit;
}

details summary {
    cursor: pointer;
}

:focus,
::selection {
    text-shadow: none;
}

::selection {
    background-color: var(--links);
    color: var(--background);
}

:focus {
    color: var(--text);
}

:focus-visible {
    background: var(--links);
    outline: 3px solid var(--links);
    color: var(--background);
    border-radius: 0.2em;
}

a,
summary {
    transition: opacity 0.2s;
}


/* theme checkbox */

.toggle-switch{
    position: relative;
    width: 1.5em;
    height: 1.5em;
    padding: 0.3em;
}

.toggle-switch svg {
    width: 100%;
    height: 100%;
}

body > header nav label {
    position: absolute;
    left:-9999px; /* Hide the label while still readable by screen readers */
}
  
#checkbox-theme {
    appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 1;
}
  
#checkbox-theme:checked + svg.checkbox-theme .is-checked{
    opacity: 1;
}

#checkbox-theme:checked + svg.checkbox-theme .is-unchecked{
    opacity: 0;
}

svg.checkbox-theme .is-checked{
    opacity: 0;
}

svg.checkbox-theme .is-unchecked{
    opacity: 1;
}



/*////////////// MEDIA QUERIES //////////////*/

/* desktop */

@media (min-width: 49em) {
    main {
        max-width: 40em;
        margin: 2em auto;
    }

    body > header > *,
    body > header > nav {
        width: 50%;
    }

    body > header {
        padding: 0.6em 1em;
    }

    body > header ul {
        align-items: center;
        justify-content: flex-end;
    }

    body > header li {
        margin-left: 2.5em;
    }

    .toggle-switch {
        width: 2em;
        height: 2em;
    }
}


/* mobile */

@media (max-width: 49em) {
    .title,
    body > header > h2,
    body > header > nav {
        padding: 0.3em 1em;
    }

    body > header {
        padding-top: 0.6em;
        flex-wrap: wrap;
    }

    body > header nav {
        border-top: 1px solid var(--highlight);
        box-shadow: 0 -1px 1px var(--shadow);
        margin-top: 1em;
    }
}